<%- include ../partials/header %>

<main>
    <section class="header">
        <%- header.desc %>
    </section>

    <% articles.forEach(function(article) { %>
        <article>
            <% article.attachments.forEach(function(attachment) { %>
                <img src="<%= attachment.url %>" style="max-width: 100%;" />
            <% }) %>
            <p><%- article.desc %></p>
        </article>
    <% }) %>

    <section class="footer">
        <%- footer.desc %>
    </section>
</main>

<%- include ../partials/footer %>
